
.keyToggleStyle {
    -fx-base: gold;
}

.previewButtonStyle {
    -fx-base: lightblue;
}

.saveButtonStyle {
    -fx-base: lightgreen;
}

.menuPanel {
    -fx-background-color: #EFEFEF;
}

.optionsPanel {
    -fx-background-color: #E7E7E7;
}

.viewPanel {
    -fx-background-color: white;
}
